[submodule "translator"]
	path = translator
	url = git@github.com:JalapenoLabs/rimworld-mod-llm-auto-translator.git
[submodule "RimworldForCICD"]
	path = RimworldForCICD
	url = git@github.com:JalapenoLabs/RimworldForCICD.git
